<section style="padding-top: 5em;">
    <div class="container">
        <h1 class="text-dark text-center">Orders</h1>
        <hr class="w-25 m-auto" />
        <div class="row">
            {{#each orders}}
                <div class="col-md-6 m-auto col-12">
                    <div
                        class="card  w-100 d-grid bg-dark  h-100"
                        style="border-radius: 1em;"
                    >
                        <h3 class="text-white m-auto">Order on :
                            <span
                                style="font-size: 20px;"
                            >{{this.date}}</span>/<span
                                style="font-size: 20px;"
                            >{{this.month}}</span>/<span
                                style="font-size: 20px;"
                            >{{this.year}}</span>
                        </h3>
                        <h6 class="text-light text-center">status :
                            <span class="text-success">{{this.status}}</span>
                        </h6>
                        <h6 class="text-white text-center">Ordered by : {{this.user.name}}</h6>
                        <a
                            href="/admin/view-products/{{this._id}}/{{this.user._id}}"
                            class="btn btn-primary w-50 m-auto mb-4"
                        >View Products</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>