<section style="padding-top: 5em;">
    {{! container }}
    <div class="container">
        {{! row }}
        <div class="row">
            <div class="col-12 text-center">
                {{! title }}
                <h1 class="text-success mt-5">Edit product</h1>
            </div>
            <div class="col-12">
                {{! underline }}
                <hr
                    class="text-dark mb-5"
                    style="width: 50%; margin-left: auto ; margin-right: auto; margin-top: 0px;"
                />
            </div>
            {{! form }}
            <form
                enctype="multipart/form-data"
                action="/admin/edit-product/{{product._id}}"
                method="post"
                class="col-6 m-auto mb-5"
            >
                {{! name of product }}
                <div class="col-12 form-floating">
                    <input
                        value="{{product.name}}"
                        type="text"
                        class="form-control"
                        name="name"
                        id="name floatingInput"
                        placeholder="Name"
                        required
                    />
                    <label for="floatingInput">Name</label>
                </div>
                {{! price }}
                <div class="col-12 mt-3 form-floating">
                    <input
                        value="{{product.price}}"
                        type="number"
                        class="form-control"
                        name="price"
                        id="price floatingInput"
                        placeholder="Price"
                        required
                    />
                    <label for="floatingInput">Price</label>
                </div>
                {{! size}}
                <div class="col-12 mt-3 form-floating">
                    <select name="size" id="floatingInput" class="form-select">
                        <option
                            value="{{product.size}}"
                            selected
                        >{{product.size}}</option>
                        <option value="">none</option>
                        <option value="freesize">Free size</option>
                        <option
                            value="s,m,l,xl,xxl,xxxl,4xl,5xl"
                        >S/M/L/XL/XXL/XXXL/4XL/5XL</option>
                        <option value="0-3 months,3-6 months,6-12 months">0-3
                            months,3-6 months,6-12 months</option>
                        <option
                            value="1-2 years,2-3 years,3-4 years,4-5 years,5-6 years,6-7 years,7-8 years,8-9 years,9-10 years,10-11 years,11-12 years,12-13 years"
                        >1-2 years,2-3 years,3-4 years,4-5 years,5-6 years,6-7
                            years,7-8 years,8-9 years,9-10 years,10-11
                            years,11-12 years,12-13 years</option>
                        <option
                            value="4,5,6,7,8,9,10,11,12"
                        >4,5,6,7,8,9,10,11,12</option>
                    </select>
                    <label for="floatingInput">Size</label>
                </div>
                {{! category }}
                <div class="col-12 mt-3 form-floating">
                    <select
                        name="category"
                        id="floatingInput"
                        class="form-select"
                    >
                        <option
                            value="{{product.category}}"
                            selected
                        >{{product.category}}</option>
                        {{#each category}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}

                    </select>
                    <label for="floatingInput">Category</label>
                </div>
                {{! offer }}
                <div class="col-12 mt-3 form-floating">
                    <input
                        value="{{product.offer}}"
                        type="number"
                        class="form-control"
                        name="offer"
                        id="offer floatingInput"
                        placeholder="offer"
                        required
                    />
                    <label for="floatingInput">Offer</label>
                </div>
                {{! delivery charge }}
                <div class="col-12 mt-3 form-floating">
                    <input
                        value="{{product.charge}}"
                        type="text"
                        class="form-control"
                        name="charge"
                        id="charge floatingInput"
                        placeholder="charge"
                        required
                    />
                    <label for="floatingInput">Delivery charge</label>
                </div>
                <div
                    class="col-12 text-light bg-dark mt-3 text-center"
                    style="border-radius: 2em;"
                >
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <h3 class=""><i> Image1</i></h3>
                                <img
                                    src="{{product.image}}"
                                    class="w-100 mb-2"
                                    alt=""
                                    id="img-pre"
                                    style="border-radius: 1em;"
                                />
                            </div>
                            <div class="col-4">
                                <h3 class=""><i> Image2</i></h3>
                                <img
                                    src="{{product.image2}}"
                                    class="w-100 mb-2"
                                    alt=""
                                    id="img-pre2"
                                    style="border-radius: 1em;"
                                />
                            </div>
                            <div class="col-4">
                                <h3 class=""><i> Image3</i></h3>
                                <img
                                    src="{{product.image3}}"
                                    class="w-100 mb-2"
                                    alt=""
                                    id="img-pre3"
                                    style="border-radius: 1em;"
                                />
                            </div>
                        </div>
                    </div>
                </div>
{{!--  --}}
{{!--  --}}





                {{! image file  }}
                <div class="col-12 mt-3">
                    <div class="input-group">
                        <input
                            onchange="viewimage(event,1)"
                            id="productimage"
                            name="image"
                            type="file"
                            class="form-control"
                            aria-label="Upload"
                        />
                    </div>
                </div>
                {{! hiddedinput }}
                <input
                    type="text"
                    value=""
                    name="image"
                    id="hideinput"
                    hidden
                />
                
                {{! image file2  }}
                <div class="col-12 mt-3">
                    <div class="input-group">
                        <input
                            onchange="viewimage(event,2)"
                            id="productimage2"
                            type="file"
                            class="form-control"
                            aria-label="Upload"
                        />
                    </div>
                </div>
                {{! hiddedinput }}
                <input
                    type="text"
                    value=""
                    name="image2"
                    id="hideinput2"
                    hidden
                />
                
                {{! image file 3 }}
                <div class="col-12 mt-3">
                    <div class="input-group">
                        <input
                            onchange="viewimage(event,3)"
                            id="productimage3"
                            type="file"
                            class="form-control"
                            aria-label="Upload"
                        />
                    </div>
                </div>
                {{! hiddedinput }}
                <input
                    type="text"
                    value=""
                    name="image3"
                    id="hideinput3"
                    hidden
                />













{{!--  --}}
{{!--  --}}
                {{! submit button }}
                <div class="col-12 mt-3">
                    <input
                        type="submit"
                        value="submit"
                        placeholder="Submit"
                        class="form-control btn btn-success align-items-center"
                        aria-label="submit"
                    />
                </div>
            </form>
        </div>
    </div>
</section>