{{! add products button }}
<section class="container" style="padding-top: 5em;">
    <div class="text-end">
        <a href="/admin/add-product" class="btn btn-success mt-3">Add Products</a>
        <a href="/admin/add-categories" class="btn btn-info mt-3">Add Categories</a>
    </div>
</section>
{{! products table }}
<section class="products mt-5">
    {{! heading }}
    <h1 class="text text-center">All products</h1>
    <div class="container-fluid">
        <div class="row">
            {{! underline }}
            <div class="col-12">
                <hr
                    class="text-dark mb-5"
                    style="width: 50%; margin-left: auto ; margin-right: auto; margin-top: 0px;"
                />
            </div>
            {{! table }}
            <div class="col-12 m-auto">
                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">name</th>
                            <th scope="col">price</th>
                            <th scope="col">Category</th>
                            <th scope="col">Offer</th>
                            <th scope="col">delivery charge</th>
                            <th scope="col">image</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                            <tr>
                                <th style="vertical-align: middle;" scope="row">{{@index}}</th>
                                <td style="vertical-align: middle;">{{this.name}}</td>
                                <td style="vertical-align: middle;">₹{{this.price}}</td>
                                <td style="vertical-align: middle;">{{this.category}}</td>
                                <td style="vertical-align: middle;">{{this.offer}}%</td>
                                <td style="vertical-align: middle;">{{this.charge}}</td>

                                <td style="width: 10% !important;vertical-align: middle; " >
                                    <div
                                        id="carouselId"
                                        class="carousel "
                                        data-bs-ride="carousel"
                                    >
                                        <ol class="carousel-indicators">
                                            <li
                                                data-bs-target="#carouselId"
                                                data-bs-slide-to="0"
                                                class="active"
                                                aria-current="true"
                                                aria-label="First slide"
                                            ></li>
                                            <li
                                                data-bs-target="#carouselId"
                                                data-bs-slide-to="1"
                                                aria-label="Second slide"
                                            ></li>
                                            <li
                                                data-bs-target="#carouselId"
                                                data-bs-slide-to="2"
                                                aria-label="Third slide"
                                            ></li>
                                        </ol>
                                        <div
                                            class="carousel-inner"
                                            role="listbox"
                                        >
                                            <div class="carousel-item active">
                                                <img
                                                    src="{{this.image}}"
                                                    class="w-100 d-block"
                                                    alt="First slide"
                                                />
                                            </div>
                                            <div class="carousel-item">
                                                <img
                                                    src="{{this.image2}}"
                                                    class="w-100 d-block"
                                                    alt="Second slide"
                                                />
                                            </div>
                                            <div class="carousel-item">
                                                <img
                                                    src="{{this.image3}}"
                                                    class="w-100 d-block"
                                                    alt="Third slide"
                                                />
                                            </div>
                                        </div>
                                    </div>

                                </td>
                                <td style="vertical-align: middle;">
                                    <a href="/admin/edit-product/{{this._id}}">
                                        <i
                                            class="btn btn-success bi bi-pencil-square"
                                        >
                                        </i>
                                    </a>
                                </td>
                                {{! delete button }}
                                <td style="vertical-align: middle;">
                                    <a
                                        href="/admin/delete-product/{{this._id}}"
                                        onclick="return confirm('Are you sure you want to delete {{this.name}} ?')"
                                    >
                                        <i
                                            class="btn btn-danger bi bi-trash3-fill"
                                        ></i>
                                    </a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>