{{! home page }}
<section class="home" id="home">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img
                    src="/images/home/logo.JPG"
                    style="margin-top: 8em; "
                    class="w-25 img-fluid rounded-circle"
                    alt="logo"
                />
                <h4 style="font-weight: 600;" class="text-light mt-4">
                    Classic Bazaar provides you
                    <br />
                    Trending dresses and Fashion Accessories
                </h4>
            </div>
        </div>
    </div>
</section>
{{! featured products  }}
<section class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-light mt-3 mb-3">Featured Products</h1>
            </div>
            <div class="col-12">
                <hr
                    class="text-light mb-5"
                    style="width: 50%; margin-left: auto ; margin-right: auto; margin-top: 0px;"
                />
            </div>
            {{#each products}}

                <div class="col-md-4 col-12 mt-2 mb-5" style="z-index: 0; ">
                    <div class="card">
                        <a
                            href="/details/{{this._id}}"
                            class="text-decoration-none text-dark"
                        >

                            <div
                                id="carouselId"
                                class="carousel"
                                data-bs-ride="carousel"
                            >
                                <ol class="carousel-indicators">
                                    <li
                                        data-bs-target="#carouselId"
                                        data-bs-slide-to="0"
                                        class="active"
                                        aria-current="true"
                                        aria-label="First slide"
                                    ></li>
                                    <li
                                        data-bs-target="#carouselId"
                                        data-bs-slide-to="1"
                                        aria-label="Second slide"
                                    ></li>
                                    <li
                                        data-bs-target="#carouselId"
                                        data-bs-slide-to="2"
                                        aria-label="Third slide"
                                    ></li>
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <img
                                            src="{{this.image}}"
                                            class="w-100 d-block"
                                            alt="First slide"
                                        />
                                    </div>
                                    <div class="carousel-item">
                                        <img
                                            src="{{this.image2}}"
                                            class="w-100 d-block"
                                            alt="Second slide"
                                        />
                                    </div>
                                    <div class="carousel-item">
                                        <img
                                            src="{{this.image3}}"
                                            class="w-100 d-block"
                                            alt="Third slide"
                                        />
                                    </div>
                                </div>
                            </div>

                        </a>
                        <div class="card-body bg-light">

                            <h5 class="card-title">{{this.name}}</h5>
                            <hr />
                            <div
                                style="background-color: rgb(147, 234, 181);; border-radius: 1em;"
                            >
                                <p
                                    class="card-text text-decoration-underline"
                                    style="color: darkgreen; margin-left: 1em;  "
                                >
                                    {{this.offer}}% off
                                </p>
                            </div>
                            <div
                                style="background-color: rgb(32, 203, 233);; border-radius: 1em;"
                            >
                                <p
                                    class="card-text mt-1"
                                    style="margin-left: 1em;"
                                >Price: ₹<span
                                        style="color: #896633;"
                                        class="text-decoration-underline"
                                    >{{this.price}}</span></p>
                            </div>
                            <div
                                style="background-color: rgb(180, 180, 180); border-radius: 1em; margin-top: 0.25em;"
                            >
                                <p
                                    class="card-text"
                                    style="margin-left: 1em;"
                                ><span class="text-dark">Delivery Charge</span>:
                                    <span
                                        class="text-success"
                                    >{{this.charge}}</span>
                                </p>
                            </div>

                            <div class="row">
                                <div class="col-8">
                                    <a
                                        href="/buynow/{{this._id}}"
                                        class="btn mt-1 m-auto w-100 mt-3"
                                        style="background-color: #896633; color: white;height: 2.5em; "
                                    >
                                        Buy Now
                                    </a>
                                </div>
                                <div class="col-4">
                                    <button
                                        class="btn mt-1 m-auto w-100 mt-3"
                                        onclick="addtocart('{{this._id}}')"
                                        style="background-color: #098f41; color: white;height: 2.5em; "
                                    >
                                        <i class="bi bi-cart4"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>
{{! footer }}
<footer class="bg-success" id="footer">
    <div class="container">
        <h1 class="text-center pt-4 pt-3 text-white">Feedback</h1>
        <div class="row">
            <!-- feedback -->
            <form class="mb-5 ord" id="feedback-form-1">
                <div class="col-12">
                    <input
                        required
                        type="text"
                        name="name"
                        placeholder="Name"
                        class="form-control mt-3"
                        aria-label="text"
                    />
                </div>
                <div class="col-12">
                    <input
                        type="email"
                        name="email"
                        placeholder="Email"
                        class="form-control mt-3"
                        aria-label="email"
                        required
                    />
                </div>
                <div class="col-12">
                    <input
                        type="text"
                        name="feedback"
                        placeholder="feedback"
                        class="form-control mt-3"
                        aria-label="text "
                        required
                    />
                </div>

                <div class="col-12">
                    <input
                        value="Submit"
                        type="submit"
                        placeholder="Send"
                        class="form-control btn btn-light align-items-center mt-3"
                        aria-label="submit"
                    />
                </div>
            </form>
            <hr style="color: rgb(0, 0, 0); height: 0.1em" />
            <!-- address -->
            <div class="col-md-4 col-12 mb-3">
                <h3>Where are we</h3>
                <hr style="width: 3em; height: 0.1em" />
                <br />
                <h4>
                    <span class="text-dark">C</span><span
                        class="text-light"
                    >l</span><span class="text-dark">a</span><span
                        class="text-light"
                    >s</span><span class="text-dark">s</span><span
                        class="text-light"
                    >i</span><span class="text-dark">c</span><span
                        class="text-light"
                    > B</span><span class="text-dark">a</span><span
                        class="text-light"
                    >z</span><span class="text-dark">a</span><span
                        class="text-light"
                    >a</span><span class="text-dark">r</span>
                </h4>
                <p class="text-white">
                    kerala,kasargod,po balal 671533
                    <br />
                    kialpschool kallanchira
                    <br />
                    Kāsaragod District Kerala
                    <br />
                    India - 671533
                </p>
            </div>
            <!-- email and phone -->
            <div class="col-md-4 col-12 mb-3">
                <h3>Reach Us</h3>
                <hr style="width: 3em; height: 0.1em" />
                <br />
                <i class="fa-solid fa-phone"></i>
                <a
                    href="tel:+91**********5369"
                    class="text-white text-decoration-none"
                    data-websiteid="1368741"
                    title="call +91**********5369"
                    data-type="phone"
                >
                    +91 **********5369
                </a>
                <br />
                <i class="fa-solid fa-envelope"></i>
                <a
                    href="mailto:a*************@g*****.com"
                    title="mail to a*************@g*****.com"
                    class="text-white text-decoration-none"
                    data-websiteid="1368741"
                    data-type="email"
                >
                    a*************@g*****.com
                </a>
            </div>
            <!-- links -->
            <div class="col-md-4 col-12 mb-5">
                <h3>Links</h3>
                <hr style="width: 3em; height: 0.1em" />
                <br />
                <i class="fa-brands fa-whatsapp"></i>
                <a
                    href="https://chat.whatsapp.com/F9y93ztDf9f25DmhOyZmea"
                    class="text-decoration-none text-white"
                >Whatsapp</a>
                <br />
                <i class="fa-brands fa-youtube"></i>
                <a href="#" class="text-decoration-none text-white">Youtube</a>
                <br />
                <i class="fa-brands fa-instagram"></i>
                <a
                    href="https://www.instagram.com/classic_bazaar/?igshid=MzRlODBiNWFlZA=="
                    class="text-decoration-none text-white"
                >instagram</a>
            </div>
        </div>
    </div>
</footer>