<section
    style=" background-color: rgb(22, 55, 58); width: 100%; min-height: 100vh; padding-top: 5em;"
>
    <h1 class="text-white text-center">Your cart [{{cartcount}} items]</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <hr
                    class="text-white mb-5"
                    style="width: 50%; margin-left: auto ; margin-right: auto; margin-top: 0px;"
                />
            </div>
            {{#each items}}
                <div class="col-12 col-md-8 m-auto">
                    <div class="cart-card bg-dark">
                        <img
                            class="cart-item-image rounded-circle"
                            src="{{this.product.image}}"
                            alt=""
                            srcset=""
                        />
                        <h4 class="cart-item-name text-white">
                            {{this.product.name}}
                        </h4>
                        <h6
                            class="cart-item-price text-warning"
                        >₹{{this.product.price}} </h6>
                        <div class="cart-item-inc-dec-btn">
                            <button
                                class="cart-item-quantiy-btn btn-primary"
                                onclick="changeQuantity('{{this._id}}','{{this.item}}',-1,'-{{this.product.price}}')"
                            >-</button>
                            <button
                                class="cart-item-quantiy-btn btn-light"
                                id="{{this.product._id}}"
                                style="pointer-events: none;"
                            >{{this.quantity}}</button>
                            <button
                                class="cart-item-quantiy-btn btn-primary"
                                onclick="changeQuantity('{{this._id}}','{{this.item}}',1,'{{this.product.price}}')"
                            >+</button>
                        </div>
                        {{! size }}
                        <select
                            class="item-size m-auto"
                            id="{{this._id}}"
                            style="-webkit-appearance: none !important;"
                            onchange="changesize(this.value,'{{this._id}}','{{this.product._id}}')"
                        >
                        <option value="{{this.size}}" class="option-group">{{this.size}}</option>
                         {{#each this.product.size}}
                                <option
                                    value="{{this}}"
                                    class="option-group"
                                >{{this}}</option>
                            {{/each}}
                        </select>
                        {{! delte button }}
                        <button
                            class="cart-item-delete-btn btn"
                            onclick="deleteproduct('{{this._id}}','{{this.item}}')"
                        >
                            <i
                                class="btn btn-danger border-r bi bi-trash3-fill"
                            ></i>
                        </button>
                    </div>
                </div>
            {{/each}}
            <div class="col-md-5 m-auto col-12 mb-5" style="margin-left: auto;">
                <h4 class="col-12 col-md-12 text-white float-end mb-auto">Price
                    Details</h4>
                <hr class="text-dark mt-5" />
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col " class="text-secondary">no. of items
                                :</th>
                            <th scope="col" class="text-">{{cartcount}}</th>
                        </tr>
                        <tr>
                            <th scope="col" class="text-secondary">price ({{cartcount}}
                                item):</th>
                            <th scope="col">₹<span
                                    class="price"
                                >{{price}}</span>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col" class="text-secondary">Delivery
                                charge:</th>
                            <th
                                scope="col"
                                class="text-success"
                            >₹{{charge}}</th>
                        </tr>
                        <tr>
                            <th scope="col"><b>Total price:</b></th>
                            <th scope="col">₹<span
                                    class="price"
                                >{{total}}</span></th>
                        </tr>
                    </thead>
                </table>
                <div class="col-12">
                    <a href="/place-order" class="btn btn-success w-100">Place
                        order</a>
                </div>
            </div>
        </div>
    </div>
</section>
