<section style="padding-top: 5em;" class="bg-dark min-vh-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-white text-center">{{product.name}}</h2>
            </div>
            <div class="col-12 m-auto">
                <hr class="w-50 m-auto text-white" />
            </div>
            <br />
            <div class="col-12 text-center">
                <img
                    src="/product-images/{{product._id}}.jpg"
                    class="img-fluid rounded-circle align w-25"
                />
            </div>
            <div
                class="col-12 col-md-6 m-auto row bg-success mt-3 mb-5"
                style="border-radius: 10em;"
            >
                <div class="col-12">
                    <h4 class="text-white text-center mt-3">price:
                        <span
                            class="text-warning"
                        >₹{{product.price}}</span></h4>
                </div>
                <div class="col-12">
                    <h4 class="text-white text-center mt-3">offer:
                        <span class="text-dark">{{product.offer}}%</span></h4>
                </div>
                <div class="col-12">
                    <h4 class="text-white text-center mt-3">Delivery charge:
                        <span class="text-info">₹{{product.charge}}</span></h4>
                </div>
                <div class="col-6 m-auto mb-5">
                    <button
                        class="btn mt-1 m-auto w-100 mt-3"
                        onclick="addtocart('{{product._id}}')"
                        style="background-color: #896633; color: white; "
                    >
                        <i class="bi bi-cart4"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
</section>
{{! footer }}
<footer class="bg-success" id="footer">
    <div class="container">
        <h1 class="text-center pt-4 pt-3 text-white">Feedback</h1>
        <div class="row">
            <!-- feedback -->
            <form class="mb-5 ord" id="feedback-form-1">
                <div class="col-12">
                    <input
                        required
                        type="text"
                        name="name"
                        placeholder="Name"
                        class="form-control mt-3"
                        aria-label="text"
                    />
                </div>
                <div class="col-12">
                    <input
                        type="email"
                        name="email"
                        placeholder="Email"
                        class="form-control mt-3"
                        aria-label="email"
                        required
                    />
                </div>
                <div class="col-12">
                    <input
                        type="text"
                        name="feedback"
                        placeholder="feedback"
                        class="form-control mt-3"
                        aria-label="text "
                        required
                    />
                </div>

                <div class="col-12">
                    <input
                        value="Submit"
                        type="submit"
                        placeholder="Send"
                        class="form-control btn btn-light align-items-center mt-3"
                        aria-label="submit"
                    />
                </div>
            </form>
            <hr style="color: rgb(0, 0, 0); height: 0.1em" />
            <!-- address -->
            <div class="col-md-4 col-12 mb-3">
                <h3>Where are we</h3>
                <hr style="width: 3em; height: 0.1em" />
                <br />
                <h4>
                    <span class="text-dark">C</span><span
                        class="text-light"
                    >l</span><span class="text-dark">a</span><span
                        class="text-light"
                    >s</span><span class="text-dark">s</span><span
                        class="text-light"
                    >i</span><span class="text-dark">c</span><span
                        class="text-light"
                    > B</span><span class="text-dark">a</span><span
                        class="text-light"
                    >z</span><span class="text-dark">a</span><span
                        class="text-light"
                    >a</span><span class="text-dark">r</span>
                </h4>
                <p class="text-white">
                    kerala,kasargod,po balal 671533
                    <br />
                    kialpschool kallanchira
                    <br />
                    Kāsaragod District Kerala
                    <br />
                    India - 671533
                </p>
            </div>
            <!-- email and phone -->
            <div class="col-md-4 col-12 mb-3">
                <h3>Reach Us</h3>
                <hr style="width: 3em; height: 0.1em" />
                <br />
                <i class="fa-solid fa-phone"></i>
                <a
                    href="tel:+91**********5369"
                    class="text-white text-decoration-none"
                    data-websiteid="1368741"
                    title="call +91**********5369"
                    data-type="phone"
                >
                    +91 **********5369
                </a>
                <br />
                <i class="fa-solid fa-envelope"></i>
                <a
                    href="mailto:a*************@g*****.com"
                    title="mail to a*************@g*****.com"
                    class="text-white text-decoration-none"
                    data-websiteid="1368741"
                    data-type="email"
                >
                    a*************@g*****.com
                </a>
            </div>
            <!-- links -->
            <div class="col-md-4 col-12 mb-5">
                <h3>Links</h3>
                <hr style="width: 3em; height: 0.1em" />
                <br />
                <i class="fa-brands fa-whatsapp"></i>
                <a
                    href="https://chat.whatsapp.com/F9y93ztDf9f25DmhOyZmea"
                    class="text-decoration-none text-white"
                >Whatsapp</a>
                <br />
                <i class="fa-brands fa-youtube"></i>
                <a href="#" class="text-decoration-none text-white">Youtube</a>
                <br />
                <i class="fa-brands fa-instagram"></i>
                <a
                    href="https://www.instagram.com/classic_bazaar/?igshid=MzRlODBiNWFlZA=="
                    class="text-decoration-none text-white"
                >instagram</a>
            </div>
        </div>
    </div>
</footer>