<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{#if icon}}
    <link rel="icon" href="/product/{{icon}}.ico" class="rounded-circle" type="image/x-icon" />
    {{else}}
    <link rel="icon" href="/images/home/logo.JPG" class="rounded-circle" type="image/x-icon" />
    {{/if}}

    {{#if name}}
    <title>{{name}}</title>
    {{else}}
    <title>Classic bazaar</title>
    {{/if}}
    <link rel="stylesheet" href="/stylesheets/b-nav.css">
    <script src="/javascripts/bootstrap js/jquery.js"></script>
    <script src="/javascripts/bootstrap js/popper/popper.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
</head>

<body>
    <div class=" h-100 " id="loading">

    </div>
    {{#if admin}}
        {{>admin-header}}
    {{else}}
        {{>user-header}}
    {{/if}}

    {{{body}}}
{{! importing boot strap }}
<script src="/javascripts/bootstrap js/bootstrap.js"></script>
<script src="/javascripts/ajax.js"></script>
<script src="/javascripts/common.js"></script>

</html>